@model IEnumerable<Website_first_build.Models.New>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinistryYear.YearName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NewsTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinistryYear.YearName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
