@model Website_first_build.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinistryYear.YearName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinistryYear.YearName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
