@model Website_first_build.Models.NewsImage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NewsImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News.NewsTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
