@model Website_first_build.Models.Admin

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link rel="stylesheet" href="~/Content/css/login&signup.css">
@using (Html.BeginForm("LoginAccount", "Admins"))
{
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    <div class="login">
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            @*<input type="text" class="login__input" placeholder="User name / Email">*@
                            @Html.TextBoxFor(model => model.Email, new { @class = "login__input", placeholder = "User name / Email" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            @*<input type="password" class="login__input" placeholder="Password">*@
                            @Html.PasswordFor(model => model.PasswordUser, new {@class = "login__input", placeholder = "Password"})
                            @Html.ValidationMessageFor(model => model.PasswordUser)
                        </div>
                        <button class="button login__submit">
                            <span class="button__text">Log In Now</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="social-login">
                        <h3>log in via</h3>
                        <div class="social-icons">
                            <a href="#" class="social-login__icon fab fa-instagram"></a>
                            <a href="#" class="social-login__icon fab fa-facebook"></a>
                            <a href="#" class="social-login__icon fab fa-twitter"></a>
                        </div>
                    </div>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>
}

    <script src="https://kit.fontawesome.com/52df58e152.js" crossorigin="anonymous"></script>
    